@import "assets/scss/common";
page-selectplayer {
     .app-outer {
          background-image: url(../assets/imgs/birdieball.png);
          background-repeat: no-repeat;
          background-size: cover;
          padding-top: 80px;
          height: 100%;
          .splash_top_logo img {
               width: 300px;
          }
          .login-outter {
               text-align: center;
               .list-md[inset] {
                    margin: 0;
               }
               .list-md[inset] .item-input {
                    margin-bottom: 20px;
                    border-radius: 10px;
               }
               .splash_top_logo h3 {
                    color: #fff;
                    font-size: 38px;
                    text-align: center;
                    margin: 30px 0;
               }
               .label-md {
                    margin: 10px 10px;
                    font-size: 24px;
               }
               .text-input-md {
                    font-size: 18px;
               }
               .remember .label-md {
                    margin: 10px 10px;
                    font-size: 16px;
               }
               .checkbox-md .checkbox-checked .checkbox-inner {
                    left: 8px;
                    top: 2px;
                    position: absolute;
                    width: 9px;
                    height: 17px;
                    border-width: 3px;
                    border-top-width: 0;
                    border-left-width: 0;
                    border-style: solid;
                    border-color: #ff5200;
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
               }
               .checkbox-md .checkbox-checked {
                    border-color: #fff;
                    background-color: #fff;
               }
               .checkbox-md .checkbox-icon {
                    border-radius: 10px;
                    position: relative;
                    width: 30px;
                    height: 30px;
               }
               .item-md {
                    padding-left: 0;
               }
               .item.item-md .checkbox-md {
                    margin: 9px 0px 9px 4px;
               }
               .list-ios[inset] .item {
                    border-bottom: 0px solid #c8c7cc;
                    margin-bottom: 20px;
                    border-radius: 10px;
               }
               .text-input-ios {
                    color: #000;
               }
               .item.item-ios .checkbox-ios {
                    margin: 0;
               }
               .style_box {
                    h3 {
                         color: #fff;
                    }
               }
          }
     }
     .remember {
          background: none;
          border-bottom: 0px;
          color: #fff;
          width: 45%;
          float: left;
     }
     .forget {
          width: 54%;
          background: none;
          color: #fff;
     }
     .forget h2 {
          color: #fff;
          text-align: right;
          margin: 0;
     }
     .forget h2 a {
          color: #acd373;
          font-size: 18px;
     }
     .item-md.item-block .item-inner {
          border-bottom: 0px solid #dedede;
          padding-right: 0px;
     }
     .orange_btn {
          background: #f26522;
          width: 100%;
          margin: auto;
          font-size: 22px;
          border-radius: 50px;
          height: 50px;
          margin: 25px 0;
     }
     .blue_btn {
          background: #00bff3;
          width: 100%;
          margin: auto;
          font-size: 22px;
          border-radius: 50px;
          height: 50px;
          margin: 0px 0;
     }
     .gray_btn {
          background: #363636;
          width: 100%;
          margin: auto;
          font-size: 22px;
          border-radius: 50px;
          height: 50px;
          margin: 50px 0 0;
     }
     .list-ios[inset] {
          margin: 0px;
     }
     .item-ios {
          padding-left: 0px;
     }
     .label-ios {
          margin: 15px 10px;
          font-size: 16px;
     }
     .checkbox-ios .checkbox-icon {
          border-radius: 7px;
          width: 30px;
          height: 30px;
     }
     .forget .label-md {
          margin: 0px !important;
     }
     .forget .label-ios {
          margin: 0px !important;
     }
     .checkbox-ios .checkbox-checked {
          border-color: #fff;
          background-color: #fff;
     }
     .checkbox-ios .checkbox-checked .checkbox-inner {
          left: 8px;
          top: 2px;
          position: absolute;
          width: 9px;
          height: 17px;
          border-width: 3px;
          border-top-width: 0;
          border-left-width: 0;
          border-style: solid;
          border-color: #ff5200;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
     }
     .scroll-content {
          padding-bottom: 0px !important;
     }
     .header-ios .toolbar-ios:last-child .toolbar-background-ios {
          border-width: 0;
     }
     .toolbar-background-ios {
          background: none;
     }
     .item-ios.item-block .item-inner {
          border-bottom: 0px;
     }
     .toolbar-background-md {
          border-color: none;
          background: none;
     }

     .header-md::after,
     .tabs-md[tabsPlacement="top"] > .tabbar::after,
     .footer-md::before,
     .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
          background: none;
     }
}
